# Virtual environments
.venv/
venv/

# Playwright large binaries
**/playwright/
playwright/.cache/

# Torch / ONNX heavy libs
*.onnx
*.dylib
*.so
*.bin

# __pycache__
__pycache__/
*.pyc

# Database files
chroma_db_leanext/*
!chroma_db_leanext/index
!chroma_db_leanext/*.json
!chroma_db_leanext/*.pickle
!chroma_db_leanext/*.pt

crawler_cache/

**/onnxruntime/
**/torch/
